<!-- método GET envia dados pela URL - não é seguro pra envio de senhas, por exemplo; 
método post envia dados de outra forma -->
<form action="/add" method="POST">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
